/attachment_01_Installing_from_exercise_files_-_attachment_lyst9488.zip
/testBackend
/testFrontend
/node_modules
/attachment_03_Saving_photo_in_mongo_and_tshirt_assets_lyst9617.zip
/attachment_06_Get_compressend_image_assets_here_lyst7358.zip
/attachment_06_Get_compressend_image_assets_here_lyst7358
/attachment_01_Bootstrap_crash_course_lyst8833.zip